# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
.venv/

# PyInstaller build output
build/
dist/
*.spec

# Temporary files created by the app
/tmp/
uploads/
lan_uploads/
lan_tmp/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
